
html, body, main{
    height: 100%;
}

.all-todo{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo{
    width: 600px;
    border-radius: 10px;
    box-shadow: 1px 2px 26px 0px rgba(0,0,0,1);
-webkit-box-shadow: 1px 2px 26px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 2px 26px 0px rgba(0,0,0,1);
    background: white;
}

.todo h1{
    font-size: 40px;

    margin-top: 15px;
    margin-left: 15px;
}

.task{
    position: relative;
    padding: 16px;

    border-bottom: 1px solid rgb(107, 107, 107);
}

.task .elements{
    position: absolute;

    display: flex;
    right: 15px;
    top: 15px;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}

.task .elements button{
    cursor: pointer;
    font-size: 20px;

    width: 30px;
    height: 30px;
    background: none;

    margin: 0;
    padding: 0;

    border: none;
}

.task .elements button:last-child{
    color: red;
}


.task .elements button:first-child{
    color: black;
}

.todo .interaction{
    display: flex;
}

.todo task span{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    transform-origin: 50% 50%;
}

.interaction{
    display: flex;
    padding: 15px;
    align-items: center;
}

.interaction button{
    border-radius: 0 5px 5px 0;
    height: 40px;
    padding: 10px 15px;
    border: none;
    background-color: rgb(87, 50, 255);
}

.interaction input{
    flex-grow: 1;
    height: 40px;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    border-right: 0;
    border: 1px solid rgb(0, 0, 0);
}


.gg-chevron-double-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px
   }
   
   .gg-chevron-double-right::after,
   .gg-chevron-double-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid;
    border-top: 2px solid;
    transform: rotate(45deg);
    top: 7px;
    right: 6px
   }
   
   .gg-chevron-double-right::after {
    right: 11px
   }
   